header img{
    height: 275px;
}
header{
    background-color: rgba(182, 182, 182, 0.616);
    padding: 10px;
    box-shadow: 0px 4px 4px 4px;
}
nav a{
    text-decoration: none;
    color: rgb(46, 45, 45);
    font-size: 20px;
    padding: 5px 20px;
    font-family: 'Alegreya Sans';
    font-size: 17px;
    transition: 0.5s;
}
nav a:hover{
    color: chocolate;
    border-radius: 25px 10px 25px 10px;
    background-color: beige;
    margin: 10px;
    transition: 0.5s;
    box-shadow: 5px 5px 0px 0px rgb(255, 210, 142);
}
header{
    text-align: center;
    box-shadow: 0px 0px 5px;
    background-color: blanchedalmond;
    position: fixed;
    width: 100%;
}
body{
    margin: 0px;
}
.home{
    height: 800px;
    background-image: url(bg1.jpg);
    background-size: cover;
    padding-top: 50px;
}
.deskHome{
    width: 40%;
    font-size: 20px;
    margin-left: 50px;
    & h1{
        color: rgb(20, 66, 80);
    }
    & h3{
        color: rgb(142, 142, 12);
    }
    & p{
        color: rgb(67, 128, 90);
    }
}
.deskHome a{
    text-decoration: none;
    color: darksalmon;
    background-color: firebrick;
    padding: 7px 16px;
    border-radius: 30px;
}
.deskHome a:hover{
    box-shadow: 0px 0px 5px -3px black;
    transition: 0.5s;
}
section.about{
    height: 800px;
    text-align: center;
    background-color: rgb(201, 80, 36);
}
.containerAbout{
    width: 50%;
    margin: auto;
    padding: 5px 20px;
    background-color: rgba(233, 163, 84, 0.973);
    height: 790px;
    overflow: hidden;
    font-size: 20px;
    & img{
        height: 300px;
        margin: 60px 0px 0px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 2px;
    }
}
section.howto{
    height: 640px;
    padding-top: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgb(201, 80, 36), rgb(233, 163, 84));
    font-size: 18px;
    color: rgb(251, 235, 211);
    & img{
        border-radius: 10px;
        box-shadow: 0px 0px 4px 2px;
    }
}
.howto img{
    height: 500px;
}
.deskHowto{
    display: flex;
    width: 60%;
    margin: auto;
}
.dokumentasi{
    margin: 20px;
}
section.profile{
    height: 800px;
    padding-top: 50px;
    background: linear-gradient(rgb(233, 163, 84), rgb(255, 94, 0));
}
.cardProfile{
    background-color: rgb(213, 209, 209);
    padding: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 4px 2px;
}
.imgProfile img{
    width: 100%;
}
.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 18px;
    color: black;
}